@import "text-m";
@mixin movil-style {
    aside,
    footer,
    header {
        div>p {
            @include info-m-style;
        }
    }
    p {
        @include p-m-style;
    }
    nav {
        @include nav-m-style;
    }
    h2 {
        @include title-m-style;
    }
    header {
        display: flex;
        height: 0.8%;
        img,
        div {
            padding-top: 10px;
            a {
                @include a-m-style;
            }
        }
        div {
            @include hamburguer-m-style;
        }
    }
    main {
        //background: linear-gradient(175deg, white 330px, transparent 330px, transparent 1250px, white 1250px), linear-gradient(to right, #00009E, #0000D4) no-repeat;
        padding-top: calc(73px - 41px);
        h2 {
            max-width: calc(74.3% + 3.1%);
        }
        p,
        del {
            padding-top: calc(73px - 44px);
        }
        div {
            &:nth-of-type(1) {
                p {
                    padding-top: calc(173px - (115px + 42px));
                }
                button {
                    @include button-m-style;
                    margin-top: calc(275px - (173px + 66px));
                    width: 100%;
                }
            }
            &:nth-of-type(2) {
                padding-top: calc(411px - (275px + 48px));
                h2 {
                    color: #FFFFFF;
                    padding-bottom: calc(474px - (411px + 42px));
                }
                iframe {
                    height: 155px;
                    margin-bottom: calc(710px - (474px + 225px));
                    width: 100%;
                }
            }
        }
    }
    section {
        padding-top: calc(1455px - (1182px + 225px));
        img {
            display: flex;
        }
        article {
            &:first-child {
                img {
                    margin: 0 -5vw;
                    width: 100vw;
                }
                h2 {
                    padding-bottom: calc(2093px - (2001px + 84px));
                    padding-top: calc(2001px - (1455px + 519px));
                }
            }
            &:nth-child(2) {
                h2 {
                    padding-bottom: calc(2499px - (2401px + 84px));
                    padding-top: calc(2401px - (2093px + 254px));
                }
                img {
                    margin: 0 -5vw;
                    width: 110vw;
                }
            }
            &:nth-child(3) {
                h2 {
                    padding-bottom: calc(4112px - (4004px + 84px));
                    padding-top: calc(4004px - (3713px + 243px));
                }
                div {
                    img {
                        margin: auto;
                    }
                    p {
                        @include info-m-style;
                        padding-bottom: calc(4323px - (4242px + 32px));
                        padding-top: calc(4242px - (4125px + 104px));
                        text-align: center;
                    }
                }
            }
        }
    }
    aside {
        background: linear-gradient(175deg, white 80px, transparent 80px), linear-gradient(to right, #00009E, #0000D4) no-repeat;
        margin-left: -5vw;
        margin-top: calc((4974px - (4900px + 32px)) - (5038px - (4900px + 32px)));
        padding-bottom: calc((4974px + 341px) - (5200px + 48px));
        padding-top: calc(5038px - (4900px + 32px));
        text-align: center;
        width: 100vw;
        h2 {
            color: #FFFFFF;
            padding-left: 5vw;
            padding-right: 5vw;
        }
        button {
            @include button-m-style;
            padding-left: 5vw;
            padding-right: 5vw;
            margin: auto;
            margin-top: calc(5200px - (5038px + 126px));
            width: 90%;
        }
    }
    footer {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        height: calc(((((4974px + 341px) - (5200px + 48px)) / 1.2) * 1.8) + 22px);
        margin: auto calc(14.7% - 5%);
        p {
            text-align: center;
            width: 100vw;
        }
        div {
            display: flex;
            justify-content: space-around;
            width: 100vw;
            a {
                color: #060A24;
                text-decoration: none;
                &:hover {
                    color: #00F3BB;
                }
            }
        }
    }
}