@import "text-m";
@mixin movil-style {
    header {
        display: flex;
        height: 95px;
        padding: 0 5%;
        .logo {
            height: 48.8px;
            width: 48.8px;
        }
        img {
            padding-top: 34px
        }
        a {
            @include a-m-style;
        }
        div {
            @include hamburguer-m-style;
        }
    }
    main {
        .container {
            padding: 0 5%;
        }
        .main-section {
            max-width: 72.8vw;
            margin: auto;
            font-weight: bold;
            p {
                /*font-family: ProximaNova-Bold;*/
                font-size: 30px;
                color: #572EE5;
                text-align: center;
                line-height: 36px;
            }
            span {
                /*font-family: ProximaNova-Bold;*/
                font-size: 30px;
                color: #50E3C2;
                text-align: center;
                line-height: 36px;
            }
            img {
                max-width: 72.8vw;
                padding-top: 2.4vh;
            }
            .main-image {
                width: fit-content;
                margin: auto;
            }
        }
        .search-bar {
            width: 100%;
            border: solid 1px #572EE5;
            border-radius: 50px;
            height: 50px;
            transform: translateY(-8%);
            img {
                padding-top: 1.3vh;
                position: absolute;
                right: 5.6vw;
            }
            input {
                border: none;
                background: none;
                height: 100%;
                width: 57.3%;
                margin-left: 55px;
                font-size: 16px;
                color: #000000;
                text-align: left;
            }
        }
        .trendings {
            font-size: 18px;
            color: #572EE5;
            text-align: center;
            line-height: 25px;
            width: 62.9vw;
            margin: 2.5vh auto 4vh auto;
            span {
                font-weight: bold;
            }
        }
        .carrousel {
            background: #F3F5F8;
            height: 35.8vh;
            .carrousel-text {
                padding: 3.8vh 0 2.7vh 0;
                text-align: center;
            }
            p {
                padding-top: 0.6vh;
                font-size: 16px;
                color: #000000;
                line-height: 23px;
            }
            .carrousel-title {
                font-size: 20px;
                font-weight: bold;
                color: #572EE5;
                line-height: 30px;
            }
            span {
                display: block;
            }
            .arrow {
                position: absolute;
                transform: translateY(calc((15.6vh / 2) - 20px));
                width: 40px;
                height: 40px;
                img {
                    width: 8px;
                    height: 14px
                }
            }
            .back {
                left: 5vw;
                img {
                    transform: scaleX(-1);
                }
            }
            .next {
                right: 5vw;
            }
            .carrousel-images {
                width: 100%;
                text-align: center;
                display: inline-block;
                img {
                    width: 64.8vw;
                    height: 15.6vh;
                }
            }
        }
    }
    footer {
        height: 16.3vh;
        margin: auto;
        padding: 3.9vh 0 2.3vh 0;
        text-align: center;
        font-size: 14px;
        color: #000000;
        letter-spacing: 0;
        line-height: 20px;
        nav {
            width: 24vw;
            margin: auto;
        }
        div {
            padding: 2vh 0 4vh 0;
            display: flex;
            justify-content: space-around;
            p {
                padding-top: 4vh;
            }
            a {
                color: #060A24;
                text-decoration: none;
                &:hover {
                    color: #00F3BB;
                }
            }
        }
    }
}