@mixin a-m-style {
    color: #FFFFFF;
    letter-spacing: 0;
    text-decoration: none;
    &:hover {
        color: #00F3BB;
        text-decoration: line-through;
    }
    &:active {
        color: #060A24;
        text-decoration: line-through;
    }
}

@mixin hamburguer-m-style {
    right: 5vw;
    position: absolute;
    input[type=checkbox]+label {
        .close {
            //padding-top: 5.8vh;
            padding-top: 52px;
            display: none;
        }
        .menu {
            padding: 0;
            position: absolute;
            z-index: -1;
        }
        .open {
            //padding-top: 5.8vh;
            padding-top: 52px;
            display: flex;
        }
        span {
            font-size: 0;
        }
    }
    input[type=checkbox]:checked+label {
        padding: 0;
        .close {
            display: flex;
        }
        .menu {
            background-color: rgba(87, 46, 229, 0.90);
            height: 100vh;
            margin-left: -93vw;
            margin-top: 34px;
            position: absolute;
            width: 100vw;
            z-index: 1;
            span:nth-child(even) {
                border-bottom: 1px solid white;
                display: block;
                height: 1px;
                margin: auto;
                width: 10vw;
            }
        }
        .open {
            display: none;
        }
        span {
            color: white;
            text-align: center;
            span:nth-child(odd) {
                display: block;
                font-size: 16px;
                margin: auto;
                padding: 4vh 0 1vh 0;
            }
        }
    }
}