.light-theme {
  background: #fff; }

.dark-theme {
  background: #37383C; }
  .dark-theme .more,
  .dark-theme .search-bar {
    border: solid 1px #FFFFFF !important; }
  .dark-theme a,
  .dark-theme p,
  .dark-theme span {
    color: #FFFFFF !important; }
  .dark-theme .carrousel {
    background: #222326; }
  .dark-theme .main-text-gifos {
    color: #5ED7C6 !important; }
  .dark-theme .more {
    background: #fff; }

.transition,
.transition *,
.transition *:before,
.transition *:after {
  transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) 420ms !important; }

#favourites {
  text-align: center; }
  #favourites p {
    font-size: 30px;
    color: #572EE5;
    text-align: center;
    line-height: 30px;
    font-weight: bold; }
  #favourites img {
    margin: 0.6vh 0 0.3vh 0; }

body,
p,
h2 {
  margin: 0;
  padding: 0;
  font-weight: normal; }
  body .hidden,
  p .hidden,
  h2 .hidden {
    display: none; }

@media all and (min-width: 850px) {
  body {
    width: 100%; }
    body header {
      display: flex;
      height: 5.9vh; }
      body header .navbar {
        height: 100%; }
      body header .logo {
        height: 59.1px;
        width: 59.1px;
        margin-right: 40.5vw;
        padding-left: 10.8%;
        padding-top: 1.5vh; }
      body header .desk {
        height: 5.9vh;
        position: absolute;
        right: 10.8vw; }
        body header .desk a {
          padding-right: 3vw;
          text-decoration: none;
          font-size: 14px;
          color: #572EE5;
          letter-spacing: 0;
          text-align: center;
          font-weight: bold; }
        body header .desk .menu {
          height: 100%; }
        body header .desk .selections {
          display: inline-block;
          vertical-align: middle;
          margin-top: 41px;
          height: 100%; }
        body header .desk .more {
          display: inline-block;
          vertical-align: middle;
          border: 1px solid #572EE5;
          width: 54px;
          height: 54px;
          border-radius: 100%; }
          body header .desk .more img {
            transform: translate(20px, 20px); }
    body main .container {
      margin: auto;
      max-width: 50vw;
      font-size: 40px;
      color: #572EE5;
      text-align: center;
      line-height: 50px;
      padding-top: 4.9vh; }
    body main .main-section {
      width: 100%;
      margin: auto; }
      body main .main-section .main-image {
        width: fit-content;
        margin: auto; }
    body main .search-bar {
      width: 100%;
      border: solid 1px #572EE5;
      border-radius: 50px;
      height: 50px;
      transform: translateY(-21%); }
      body main .search-bar img {
        padding-top: 1.3vh;
        position: absolute;
        right: 1.3vw; }
      body main .search-bar input {
        border: none;
        background: none;
        height: 100%;
        width: 57.3%;
        font-size: 16px;
        color: #000000;
        text-align: left;
        left: 3.8vw;
        position: absolute; }
    body main .trendings {
      margin: 4.8vh 0 6.2vh 0;
      font-size: 18px;
      color: #572EE5;
      text-align: center;
      line-height: 25px; }
      body main .trendings span {
        font-weight: bold; }
    body main .carrousel {
      background: #F3F5F8;
      height: 42.1vh;
      text-align: center; }
      body main .carrousel .arrow {
        position: absolute;
        transform: translateY(calc((18.1vh / 2) - 20px));
        width: 40px;
        height: 40px; }
        body main .carrousel .arrow img {
          width: 8px;
          height: 14px; }
      body main .carrousel .back {
        left: 5vw; }
        body main .carrousel .back img {
          transform: scaleX(-1); }
      body main .carrousel .next {
        right: 5vw; }
      body main .carrousel .carrousel-images {
        transform: translateX(-15px);
        display: inline-block; }
        body main .carrousel .carrousel-images img {
          margin-left: 2vw;
          width: 24.8vw;
          height: 18.1vh; }
      body main .carrousel .carrousel-text {
        padding: 4.4vh 0 3.5vh 0;
        font-size: 18px;
        color: #000000; }
      body main .carrousel .carrousel-title {
        font-size: 25px;
        color: #572EE5;
        line-height: 30px;
        padding-bottom: 0.8vh;
        font-weight: bold; }
    body footer {
      height: 7.6vh; }
      body footer p,
      body footer div,
      body footer nav {
        display: inline-block; }
      body footer nav {
        margin-top: 3.3vh; }
        body footer nav p {
          padding-left: 10.8vw; }
        body footer nav a {
          padding-left: 1.3vw; }
      body footer p:last-child {
        margin-top: 3.3vh;
        position: absolute;
        right: 10.8vw; }
    body .movil {
      display: none; } }
/*@media all and (min-width: 600px) and (max-width: 1439px) {
    body {
        .movil {
            display: none;
        }
        @include tablet-style;
    }
}*/
@media all and (max-width: 849px) {
  body header {
    display: flex;
    height: 95px;
    padding: 0 5%; }
    body header .logo {
      height: 48.8px;
      width: 48.8px; }
    body header img {
      padding-top: 34px; }
    body header a {
      color: #FFFFFF;
      letter-spacing: 0;
      text-decoration: none; }
      body header a:hover {
        color: #00F3BB;
        text-decoration: line-through; }
      body header a:active {
        color: #060A24;
        text-decoration: line-through; }
    body header div {
      right: 5vw;
      position: absolute; }
      body header div input[type=checkbox] + label .close {
        padding-top: 52px;
        display: none; }
      body header div input[type=checkbox] + label .menu {
        padding: 0;
        position: absolute;
        z-index: -1; }
      body header div input[type=checkbox] + label .open {
        padding-top: 52px;
        display: flex; }
      body header div input[type=checkbox] + label span {
        font-size: 0; }
      body header div input[type=checkbox]:checked + label {
        padding: 0; }
        body header div input[type=checkbox]:checked + label .close {
          display: flex; }
        body header div input[type=checkbox]:checked + label .menu {
          background-color: rgba(87, 46, 229, 0.9);
          height: 100vh;
          margin-left: -93vw;
          margin-top: 34px;
          position: absolute;
          width: 100vw;
          z-index: 1; }
          body header div input[type=checkbox]:checked + label .menu span:nth-child(even) {
            border-bottom: 1px solid white;
            display: block;
            height: 1px;
            margin: auto;
            width: 10vw; }
        body header div input[type=checkbox]:checked + label .open {
          display: none; }
        body header div input[type=checkbox]:checked + label span {
          color: white;
          text-align: center; }
          body header div input[type=checkbox]:checked + label span span:nth-child(odd) {
            display: block;
            font-size: 16px;
            margin: auto;
            padding: 4vh 0 1vh 0; }
  body main .container {
    padding: 0 5%; }
  body main .main-section {
    max-width: 72.8vw;
    margin: auto;
    font-weight: bold; }
    body main .main-section p {
      /*font-family: ProximaNova-Bold;*/
      font-size: 30px;
      color: #572EE5;
      text-align: center;
      line-height: 36px; }
    body main .main-section span {
      /*font-family: ProximaNova-Bold;*/
      font-size: 30px;
      color: #50E3C2;
      text-align: center;
      line-height: 36px; }
    body main .main-section img {
      max-width: 72.8vw;
      padding-top: 2.4vh; }
    body main .main-section .main-image {
      width: fit-content;
      margin: auto; }
  body main .search-bar {
    width: 100%;
    border: solid 1px #572EE5;
    border-radius: 50px;
    height: 50px;
    transform: translateY(-8%); }
    body main .search-bar img {
      padding-top: 1.3vh;
      position: absolute;
      right: 5.6vw; }
    body main .search-bar input {
      border: none;
      background: none;
      height: 100%;
      width: 57.3%;
      margin-left: 55px;
      font-size: 16px;
      color: #000000;
      text-align: left; }
  body main .trendings {
    font-size: 18px;
    color: #572EE5;
    text-align: center;
    line-height: 25px;
    width: 62.9vw;
    margin: 2.5vh auto 4vh auto; }
    body main .trendings span {
      font-weight: bold; }
  body main .carrousel {
    background: #F3F5F8;
    height: 35.8vh; }
    body main .carrousel .carrousel-text {
      padding: 3.8vh 0 2.7vh 0;
      text-align: center; }
    body main .carrousel p {
      padding-top: 0.6vh;
      font-size: 16px;
      color: #000000;
      line-height: 23px; }
    body main .carrousel .carrousel-title {
      font-size: 20px;
      font-weight: bold;
      color: #572EE5;
      line-height: 30px; }
    body main .carrousel span {
      display: block; }
    body main .carrousel .arrow {
      position: absolute;
      transform: translateY(calc((15.6vh / 2) - 20px));
      width: 40px;
      height: 40px; }
      body main .carrousel .arrow img {
        width: 8px;
        height: 14px; }
    body main .carrousel .back {
      left: 5vw; }
      body main .carrousel .back img {
        transform: scaleX(-1); }
    body main .carrousel .next {
      right: 5vw; }
    body main .carrousel .carrousel-images {
      width: 100%;
      text-align: center;
      display: inline-block; }
      body main .carrousel .carrousel-images img {
        width: 64.8vw;
        height: 15.6vh; }
  body footer {
    height: 16.3vh;
    margin: auto;
    padding: 3.9vh 0 2.3vh 0;
    text-align: center;
    font-size: 14px;
    color: #000000;
    letter-spacing: 0;
    line-height: 20px; }
    body footer nav {
      width: 24vw;
      margin: auto; }
    body footer div {
      padding: 2vh 0 4vh 0;
      display: flex;
      justify-content: space-around; }
      body footer div p {
        padding-top: 4vh; }
      body footer div a {
        color: #060A24;
        text-decoration: none; }
        body footer div a:hover {
          color: #00F3BB; }
  body img {
    max-width: 90vw; }
  body .desk {
    display: none; } }

/*# sourceMappingURL=styles.css.map */
