@mixin class-style {
    .section-frames {
        padding-top: 191px;
        h2 {
            color: #FFFFFF;
            padding-bottom: 26px;
        }
        iframe {
            @include img-wrap;
            width: 40.6vw;
            height: 152px;
            margin-bottom: 72px;
        }
        div {
            @include img-wrap;
            justify-content: space-between;
            margin: 0 6.9vw 0 -7vw;
        }
    }
    .article-phone {
        div {
            width: 464px;
            padding: 189px 0 0 4.3vw;
        }
        h2 {
            padding-bottom: 24px;
        }
        img {
            @include img-article-style-fst;
        }
    }
    .article-images {
        @include img-wrap;
        h2 {
            width: 100vw;
            padding: 64px 0 36px 13.9vw;
        }
        img {
            @include img-article-style-snd;
        }
    }
    .article-icons {
        @include img-wrap;
        justify-content: space-between;
        margin: 64px 13.9% 69px 13.9%;
        div {
            text-align: center;
            width: 18.1%;
            height: 3.3%;
            img {
                @include img-article-style-thr;
            }
        }
        h2 {
            width: 100vw;
            padding-bottom: 56px;
        }
    }
    .hello {
        @include hello-style;
        line-height: 80px;
        span {
            color: #0000EC;
        }
    }
}