@mixin img-header-style {
    align-items: center;
    width: 36px;
    height: 100%;
    padding-left: 6.9vw;
}

@mixin img-article-style-fst {
    width: 31.8%;
    height: 16.9%;
    padding-left: 13.9vw;
}

@mixin img-article-style-snd {
    width: 33.3%;
    height: 9.3%;
}

@mixin img-article-style-thr {
    display: flex;
    justify-content: center;
    width: 104px;
    height: 104px;
    margin: auto;
    padding-bottom: 29px;
}

@mixin img-wrap {
    display: flex;
    flex-wrap: wrap;
}