$plexSans: 'IBM Plex Sans',
sans-serif;
$plexMono: 'IBM Plex Mono',
sans-serif;
$plexMonoSemiBold:'IBM Plex Sans',
sans-serif;
$plexMonoMedium:'IBM Plex Mono',
Medium;
@mixin a-style {
    color: #060A24;
    letter-spacing: 0;
    text-decoration: none;
    &:hover {
        color: #00F3BB;
        text-decoration: line-through;
    }
}

@mixin black-style {
    color: #060A24;
    letter-spacing: 0;
}

@mixin bold-style {
    font-weight: bold;
    text-align: center;
}

@mixin button-style {
    @include button-text-style;
    background: #00F3BB;
    border: none;
    display: block;
    height: 56px;
    margin-top: 56px;
    width: 226px;
    &:hover {
        background: linear-gradient(to right, #00F0B8, #0000FE);
        color: white;
    }
}

@mixin button-text-style {
    @include black-style;
    @include bold-style;
    font-family: $plexMonoMedium;
    font-size: 18px;
    line-height: 24px;
}

@mixin hello-style {
    @include black-style;
    font-family: $plexSans;
    font-size: 64px;
}

@mixin info-style {
    @include black-style;
    @include bold-style;
    font-family: $plexMonoSemiBold;
    font-size: 24px;
}

@mixin nav-foot {
    display: flex;
    height: 80px;
    div {
        display: flex;
        justify-content: flex-end;
        width: 100%;
    }
    nav,
    a {
        align-items: center;
        display: flex;
        margin: auto 1.25vw;
    }
    p {
        margin: auto;
        width: 100%;
    }
}

@mixin nav-style {
    @include black-style;
    font-family: $plexMono;
    font-size: 16px;
    line-height: 28px;
}

@mixin p-style {
    @include nav-style;
    line-height: 24px;
}

@mixin title-style {
    @include hello-style;
    font-size: 48px;
}